/* The CSS doc for my data work 2 */

body {
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
    background-color: #f8f6f1;
    color: #1f1f1f;
    line-height: 1.7;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    color: #FF0800;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-top:5px;
    color: #2E46BF;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    color: #000000;
}

hr {
    margin-left: 30px;
    margin-right: 30px;
}

.chart-wrapper {
    margin-left: 30px;
    margin-right: 30px;
}

.chart {
    min-height: 651px;
}
